<form>
    <div class="form-group">
        <label>{{localize "SPIRE.Dice"}}</label>
        <div class="form-fields spire-roll-options">
            <input type="checkbox" id="skill" name="skill" />
            <label for="skill">{{localize "SPIRE.Skill"}}</label><br />
            <input type="checkbox" id="domain" name="domain" />
            <label for="domain">{{localize "SPIRE.Domain"}}</label><br />
            <input type="checkbox" id="mastery" name="mastery" />
            <label for="mastery">{{localize "SPIRE.Mastery"}}</label>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "SPIRE.Difficulty"}}</label>
        <div class="form-fields spire-roll-options">
            <input type="radio" id="difficulty0" name="difficulty" value="0" checked />
            <label for="difficulty0">0</label><br />
            <input type="radio" id="difficulty1" name="difficulty" value="1" />
            <label for="difficulty1">1</label><br />
            <input type="radio" id="difficulty2" name="difficulty" value="2" />
            <label for="difficulty2">2</label>
        </div>
    </div>
</form>
